<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GridMaker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GridMaker.Properties.Settings>
            <setting name="ComposerLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ComposerSize" serializeAs="String">
                <value>700, 325</value>
            </setting>
            <setting name="ComposerMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectorLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SelectorSize" serializeAs="String">
                <value>402, 454</value>
            </setting>
            <setting name="SelectorMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PreviewLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="PreviewSize" serializeAs="String">
                <value>1000, 400</value>
            </setting>
            <setting name="PreviewMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ComposerMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectorMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PreviewMinimized" serializeAs="String">
                <value>False</value>
            </setting>
        </GridMaker.Properties.Settings>
    </userSettings>
</configuration>